.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0;
  background-color: #fff;
  gap: 40px;
  max-width: 1420px;
}

.hr {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 40px;
  margin-top: 40px;
}

.list {
  padding: 0;
  margin-bottom: 20px;
  padding-left: 15px;
}

.list li {
  margin-bottom: 10px;
  font-size: 18px;
  list-style: disc;
  color: #00000080;
}

.layout {
  display: flex;
  gap: 80px;
  padding-right: 116px;
  width: 100%;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 39px;
  min-width: 767px;
}

.row {
  display: flex;
  gap: 40px;
  width: 100%;
  height: 66px;
}

.form input {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #fafafa;
  width: 100%;
}

.form button {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 600;
  width: 131px;
  height: 53px;
  align-self: flex-end;
}

.socialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  gap: 40px;
  padding: 10px 30px 30px 30px;
  margin-bottom: 90px;
}

.socialCard p {
  color: #000000b2;
  font-size: 1.1em;
}

.socialIcons {
  display: flex;
  gap: 50px;
}

.socialIcons img {
  width: 76px;
  height: 76px;
  cursor: pointer;
}
